body, html {
	margin: 0,0;
	padding:0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	line-height: 150%;
}

h1 {
	text-align: center;
	color: #eee;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

.biopic {
	margin: 0, auto;
	padding-right: 5px;
	float: left;
}

.main {
	float: left;
	margin: 0, auto;
	background-color: #eee;
	height: 320px;
}

.left {
	width: 70%;
	float: left;
}

.right {
	width: 30%;
	float: left;
}

a {
	color: #d21034;
}